.header{
    background: white;
    color: rgb(0, 145, 255);
    text-align: center;
    margin: 50px 100px 50px 100px;
}

hr {
    border: none;
    border-top: 3px solid rgb(0, 145, 255);
    color:rgb(0, 145, 255) ;
    overflow: visible;
    text-align: center;
    height: 5px;

  }

.address{
    color:black;
    text-align: right;
}
h2{
    color:rgb(0, 145, 255) ;
}
.objective{
    color: black;
    text-align: start;

}
.education{
    color: black;
    text-align:start;
}

.technical-skills{
    color: black;
    text-align:left;
}
.soft-skills{
    color: black;
    text-align:start;
}
.hackathon{
    color: black;
    text-align:start;
}
.internship{
    color: black;
    text-align:start;
}
.projects{
    color: black;
    text-align:start;
}
.declaration{
    color: black;
    text-align:start;
}
.place{
    color: black;
    text-align: left;
}

.date{
    color: black;
    text-align: end;
}

.name{
    color: black;
    text-align: end;
}
h4{
    padding-left: 5px;

}